[2014-08-23 13:02] highsource opened #1 "Allow annotations to be added to package-info.java"
Continued from https://github.com/highsource/annox/issues/1.

[2014-09-01 09:35] happyherold opened #2 "Snapshot dependency in release 1.0.0"
The POM defines a dependency to annox **snapshot** version **1.0.0-SNAPSHOT** on lines 144 to 149:

[code]

The version on line 148 should refer to **release** version of annox which currently is **1.0.0**:

[code]

[2014-09-01 14:49] #2 closed, assigned to nobody

[2014-09-04 12:49] mattbertolini opened #3 "Annotate static inner class not working"
I have imported some 3rd party schemas with a custom binding file and I am attempting to annotate one of the elements as a `@XmlRootEelement` using this plugin. JAXB generated the Java object for this element as a static inner class like this:

[code]

I am trying to annotate the static inner class `ExampleLineup` but it does not seem to want to attach the annotation. Here is the binding file I am

[2014-09-04 16:44] #3 closed, assigned to nobody

[2014-10-01 20:22] highsource opened #4 "Handle mixed properties in the simplify plugin"

[2014-10-01 21:08] #4 closed, assigned to nobody

[2014-10-22 08:33] Vidhuran opened #5 "Annotating more than one class in XmlSeeAlso"
When trying to add more than one class inside the XmlSeeAlso annotation, it is adding only the last class among the number of classes added. eg. when i define the following binding

[code]

</bindings>

i expect to see the annotation as

[code]

bit it has only the `SubscriptionPackage.class` in the annotation.

[2014-10-22 15:06] #5 closed, assigned to nobody

[2015-03-13 14:52] eiswind opened #6 "cant annotate explicit enum"
HI,

I have enums with int values that I need to map individually. I tried to annotate them like
 <jxb:bindings node="//xs:simpleType[@name='List1']">

[code]

But that doesn't work. How would I annotate the enum members?

[2015-03-17 22:53] highsource commented on #6
Please try `annox:annotateEnum`. If not then this is probably a missing feature. Could you please PR a test case in this project:

https://github.com/highsource/jaxb2-annotate-plugin/tree/master/tests/issues

I'll take care of it then.

[2015-04-15 11:12] bertramn opened #7 "annox:annotate not working on attribute getter or setter"
Hi there,

I have annotated a `xsd:attribute` with a `annox:annotate` targetting the getter but unfortunately the annotation is never added to the generated Java field getter method. When I add the same annotation to an `xsd:element` then it works as expected. I cannot find any examples where a xsd attribute is annotated targetting either getter or setter either. Is this not implemented?

Cheers,

[2015-04-15 12:15] highsource commented on #7
Could you please post the minimal schema that reproduces this? Ideally a pull request for this schema in the test project:

https://github.com/highsource/jaxb2-annotate-plugin/blob/master/tests/issues/src/main/resources/schema.xsd

[2015-04-15 12:47] bertramn commented on #7
Hmm I just experimented a bit and found that the cxf default value plugin is the one that somehow looses the annotations from the field. When I disable the plugin (remove `-Xdv` arg) then it all works well again.

Thank you for the quick reply, much appreciated. Niels

Just for the record I use following version:

[code]

[2015-04-15 12:47] #7 closed

[2015-04-15 12:49] highsource commented on #7
Thank you for the report.

[2015-05-13 09:48] bracouda opened #8 "Annotation XmlTransient"
Hello,
I have an object with an element who should be transient.
Exemple:
[code]

and in my java object i have

[code]

The problem is aliasList still remain in propOrder. jaxb complains .
Do you know how i can fix it.

[2015-05-14 10:01] nestaone commented on #8
Hello,
I'm facing exactly the same issue but I have'nt found any clean solution so far. So I'm also interrested in any clues!
Thx.

[2015-05-14 17:25] nestaone commented on #8
The only workaround I found is to redefine @XmlType:

[code]

[2015-05-14 21:27] highsource commented on #8
@nestaone This is not a workaround, this is the correct solution.

@bracouda This is the correct behaviour. The `jaxb2-annotate-plugin` knows nothing about the semantics of the annotations. It just - and only - annotates. So if you instruct it to add `@XmlTransient` it does, as you order. And only that. So if you want `@XmlType.propOrder` to be changed as well, add the appropriate customization, i

[2015-05-14 21:28] #8 closed

[2015-06-04 08:37] nocivus commented on #1
The annotatePackage tag (which i assume is a shortcut for <annotate target="package"> does not work in 1.0.1.

[2015-06-13 15:41] highsource commented on #1
@nocivus Confirmed, reopening.

[2015-06-17 03:09] echan10 commented on #5
Hi, I am getting following error when try to use Java Syntax for the same problem...Caused by: org.jvnet.annox.annotation.AnnotationClassNotFoundException: Annotation class [annotate] could not be found.

Could you advise? Thank you.

[2015-06-17 04:10] highsource commented on #5
@echan10 Please ask on Stack Overflow. The information you provide is not sufficient.

[2015-06-29 15:11] albers opened #9 "Backslashes in Patterns are doubled"
I'm trying to add a JSR-303 `@Pattern` constraint to a generated class. The pattern contains backslashes.
In the generated code, all backslashes are doubled:
`"[0-9]+\\.[0-9]{1,2}\\.[0-9]{4}\\.[0-9]+"` -> `"[0-9]+\\\\.[0-9]{1,2}\\\\.[0-9]{4}\\\\.[0-9]+"`

This happens when invoking from maven and from Eclipse using _m2e connector for jaxb2_
Resorting to single backslashes in the (xjb) source won't

[2015-06-29 19:00] highsource commented on #9
If forget the necessary escaping, which regexp do you pursue? `[0-9]+\.[0-9]{1,2}\.[0-9]{4}\.[0-9]+`?

[2015-06-29 20:34] computerlyrik opened #10 "Non-primitive Annotation attributes"
Hey.

First: thanks for the great work.

Second: following problem:

This is working like a charm:
`<annox:annotate target="field">@javax.persistence.OneToMany</annox:annotate>`

And this
 `<annox:annotate target="field">@javax.persistence.OneToMany(cascade=javax.persistence.CascadeType.ALL)</annox:annotate>`

gives me the following error:

Caused by: org.jvnet.annox.parser.exception.ValueParseExc

[2015-06-29 20:38] highsource commented on #10
`cascade` is an array, try `{javax.persistence.CascadeType.ALL}` instead of just `javax.persistence.CascadeType.ALL`.

[2015-06-29 20:42] computerlyrik commented on #10
You are very fast. And 100% correct.

Thank you.

[2015-06-29 20:42] #10 closed

[2015-06-29 21:11] albers commented on #9
Thanks for responding so quickly!

The regular expression I need is `[0-9]+\.[0-9]{1,2}\.[0-9]{4}\.[0-9]+` (a version string, e.g. `1.20.1003.20`).
With the quoting required for Java syntax, it becomes `[0-9]+\\.[0-9]{1,2}\\.[0-9]{4}\\.[0-9]+`.

My goal is to generate an annotation that looks exactly like

    @Pattern(regexp = "[0-9]+\\.[0-9]{1,2}\\.[0-9]{4}\\.[0-9]+")

with `Pattern` being `java

[2015-06-29 21:14] highsource commented on #9
Plase try with single backslashes first. Just to make sure.
Feels like a bug at the moment, I think your annotation seems to be correct.

On Mon, Jun 29, 2015 at 11:11 PM, Harald Albers <notifications@github.com>
wrote:

[2015-06-29 21:28] albers commented on #9
The single backslash syntax, i.e.

    <annox:annotateProperty target="field">@javax.validation.constraints.Pattern(regexp = "[0-9]+\.[0-9]{1,2}\.[0-9]{4}\.[0-9]+")</annox:annotateProperty>

is rejected due to parser errors. Here's the corresponding Maven stackdump:

        at japa.parser.ASTParserTokenManager.getNextToken(ASTParserTokenManager.java:2301)
        at japa.parser.ASTParser.jj_scan_

[2015-06-29 21:30] albers commented on #9
Same error when used in Eclipse with _m2e connector for jaxb2_:

Lexical error at line 1, column 56.  Encountered: "." (46), after : "\"[0-9]+\\"

[2015-08-07 08:15] hiveship opened #11 "Allows enums methods to be annotated"
When generating a Enum class for JAXB and XML Schema, I would like to add an annotation to "value" and "fromValue" methods. Now there is no option to do that since the 'annotateEnum' customization element can only annotate the enum class itself (and noo the methods).

Example:

What is currently generated:
@XmlType(name = "search_mode")
@XmlEnum
@CustomAnnotation // can be added with 'annotateEnum

[2015-08-19 21:55] puntogil opened #12 "Include license header in source files"
Hi
Found 5 files have "unknown" license.
jaxb2-annotate-plugin-1.0.1/plugin/src/main/java/org/jvnet/jaxb2_commons/plugin/annotate/AnnotatePlugin.java
jaxb2-annotate-plugin-1.0.1/plugin/src/main/java/org/jvnet/jaxb2_commons/plugin/annotate/AnnotatingArrayValueVisitor.java
jaxb2-annotate-plugin-1.0.1/plugin/src/main/java/org/jvnet/jaxb2_commons/plugin/annotate/AnnotatingSingleValueVisitor.java
jaxb2

[2015-08-28 13:58] highsource commented on #12
Ahm. I did not knew BSD 2-clause has to be in each source file. Is it really so?

I actually don't mind it, but, frankly, seems an absolute overkill to me. Probably the `maven-license plugin` would be handy here. But it's effort...

Would you consider helping by making a PR which would integrate the `maven-license-plugin` into the build? Then we'll have solved it once and for all and I could repli

[2015-08-28 21:26] #12 closed

[2015-09-07 04:39] jiechu opened #13 "Does not allow gson SerializedName to bindings.xjb"
For Exmple, the xsd is as:
`<xs:complexType name="property">`
       ` <xs:attribute name="key" type="xs:string" use="required"/>`
       ` <xs:attribute name="value" type="xs:string" use="required"/>`
`</xs:complexType>`
And the bindings.xjb is as:
`<jxb:bindings node="xs:complexType[@name='property']">`
            `<annox:annotate>`
                `<annox:annotate annox:class="javax.xml.bind.a

[2015-09-07 04:42] jiechu opened #14 "The argument does not make effect with plugin"
When work with plugin:
`<plugin>`
`<groupId>com.github.jaxb-xew-plugin</groupId>`
`<artifactId>jaxb-xew-plugin</artifactId>`
`<version>${jaxb_xew_plugin_version}</version>`
`</plugin>`
There is package-info.java generated event if use -npa or <packageLevelAnnotations>false</packageLevelAnnotations>

[2015-09-07 07:01] highsource commented on #14
And how is this relevant to `jaxb2-annotate-plugin`?

[2015-09-07 07:02] #14 closed

[2015-09-07 07:08] highsource commented on #13
You have to add `com.google.code.gson:gson` to the `maven-jaxb2-plugin` classpath via `plugin/configuration/plugins/plugin`. Please refer to [this documentation](https://github.com/highsource/jaxb2-annotate-plugin#using-jaxb2-annotate-plugin-with-maven).

[2015-09-07 07:28] jiechu commented on #13
resolved

[2015-09-07 07:28] #13 closed

[2015-09-10 13:18] ghost opened #15 "How to remove package-info.java if add a plugin jaxb-xew-plugin to maven-jaxb2-plugin"
I ask the question before, but get an comments that use annotate-plugin. Do you mean annox:annotate?
Can maven-jaxb2-plugin support @XmlRootElement and @XmlWrappper directly?

[2015-09-10 19:38] highsource commented on #15
I mean this very plugin, `jaxb2-annotate-plugin`.

No. `maven-jaxb2-plugin` "just" invokes XJC in the frame of a Maven build. You may use JAXB plugins (like `jaxb2-annotate-plugin` or `jaxb-xew-plugin`) if you need additional functionality.

You write that `package-info.java` is added. Why is it an issue for you?
I'm not sure why is it added and which of the two plugins you're supposedly use cause

[2015-09-10 19:42] highsource opened #16 "Use jaxb:class and annox:annotate together in jaxb2-maven-plugin"
See http://stackoverflow.com/questions/32257883/use-jaxbclass-and-annoxannotate-together-in-jaxb2-maven-plugin

@mundodojava Here's an issue.

[2015-09-10 21:16] highsource commented on #16
Reproduced.

[2015-10-15 13:42] brunolellis commented on #8
@highsource I have a question about annotating an atribute with `@XmlTransient`. Could you help me?

Using the same code as described in this issue, my attribute gets annotated with both `@XmlElement` and `@XmlTransient` (which is not allowed because they are mutually exclusive).

[code]

What I need to do is to ignore "myDate" attribute. Any clues?
Thanks!

[2015-10-15 14:14] highsource commented on #8
@brunolellis As I mentioned above, the plugin knows nothing about the semantics and constraints of annotations you add, so if you add `@XmlTransient`, nothing else (`@XmlElement`) etc. gets removed.

At the moment there is no functionality to remove an annotation. I can easily imagine something like:

[code]

But it isn't there at the moment. Implementation would be quite simple, actually, but I d

[2015-10-15 15:25] brunolellis commented on #8
Thanks for your answer.

My xsd file describes an element like `<xs:element name="myDate" minOccurs="0" maxOccurs="1"	nillable="true" type="Entry:DateTime" />`.
Because nillable is described, my element gets annotated with `@XmlElement(nillable = true)` and also serialized as `<myDate xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/>`.

Maybe another solution is to just replac

[2015-11-15 18:00] end-user opened #17 "How can I use the annotation plugin to enhance classes generated with jaxws-maven-plugin?"
I am generating classes directly from a wsdl using wsimport.  I would like to annotate the resulting classes.  The jaxws-maven-plugin allows jaxb plugins to be included/compiled by including them as dependencies and passing the xjcArg that invokes them.  Can I do the same with the jaxb2-annotate-plugin?  How would I provide the binding file?

[2015-11-15 18:13] highsource commented on #17
Yes, the plugin should work with `jaxws-maven-plugin`.

Please send me a PR or a sample project which compiles something with the `jaxws-maven-plugin` and I'll add some annotations via `jaxb2-annotate-plugin`. The test project should go under `https://github.com/highsource/jaxb2-annotate-plugin/tree/master/tests`.

[2015-11-15 19:04] end-user commented on #17
I put what I've been working on up [on github](https://github.com/end-user/QuICK.git) for cloning.  I'm sorry I don't understand how it should be integrated under the project tests.

[2015-11-15 20:08] highsource commented on #17
See this tutorial:

https://yangsu.github.io/pull-request-tutorial/

[2015-11-15 20:10] highsource commented on #17
I can't just clone/copy your repo due to licensing issues.

[2015-11-15 23:06] highsource commented on #17
Here's an example of using `jaxb2-annotate-plugin` with the `jaxws-maven-plugin`:

https://github.com/highsource/jaxb2-annotate-plugin/tree/master/tests/jaxws

I've managed to make it work with definitions from the schema imported in WSDL but not with the schema inside the WSDL. Customizations are ignored there.

However there's a question on StackOverflow which hints that this may be possible:

h

[2015-11-15 23:14] highsource commented on #17
This issue seems to have been fixed in the `cxf-codegen-plugin`:

https://issues.apache.org/jira/browse/CXF-2855

I'll move to cxf-codegen-plugin then.

[2015-12-24 09:06] highsource opened #20 "Annotation plugin does not include the project's classpath when annotating generated code"
See https://java.net/jira/browse/JAXB2_COMMONS-32.

[2015-12-29 10:14] highsource opened #21 "Improve error reporting in Annotate plugin"
http://jira.highsource.org/browse/JIIB-6

[2016-02-02 12:42] hafizullah commented on #1
Have there been any progress on this fix please? Desperately need this feature :)

[2016-02-18 21:25] albers commented on #9
@highsource Just a ping. Will you be able to provide a fix for this soon?
I'm still interested in a solution.
I would like to add JSR-303 annotations to my generated classes, but most usages of `@Pattern` will not work due to the extensive use of backslashes in regular expressions. Any backslash would break the generation.

[2016-02-19 09:54] highsource commented on #9
Sorry, I'm pretty under water at the moment. Would accept a PR though.

[2016-02-19 12:28] albers commented on #9
No problem, thanks for the reply. Can you please give me a hint where I might look for potential problems?
I only know jaxb from the user perspective and have no idea how the components interact.

[2016-02-19 13:04] highsource commented on #9
Hi,

the problem is that a string which is used as an annotation parameter is
changed.
The annotation happens here:

https://github.com/highsource/jaxb2-annotate-plugin/blob/master/plugin/src/main/java/org/jvnet/jaxb2_commons/plugin/annotate/AnnotatingSingleValueVisitor.java#L128

So I'd first try to reproduce this in the level of the JCodeModel. Create a
JCodeModel, create a class, add a field an

[2016-02-20 17:57] andriimatsokha commented on #9
Hi, I have a look at this issue. Yeah, the problem is that JAnnotationUse internally escapes **`value`** passed into it's `JAnnotationUse.param(String name, String `**`value`**`)` method.

So, on one hand we have a method, that escapes String internally and it seems that we have to pass there unescaped value.
On the other hand, we have a `japa.parser.JavaParser`, which parses correct String - i.e.

[2016-03-16 15:57] eyce9000 opened #24 "Annotating a simpleContent"
I am trying to annotate a field that is normally annotated by xjc with `@XmlValue` in order to add a CDATA annotation to it.

How do I set up my binding to do this, or is it possible?

Binding:

[code]

Type in question:

[code]

[2016-03-20 22:05] highsource commented on #24
Hi,

this appeared to be more complex than I thought. I did not manage to attach customizations to the simple content-derived property with standard XJC means. So I wrote the `customizations` plugin which reads customizations from files, associated with classes or fields. For instance, `org\jvnet\jaxb2_commons\tests\issues\Gh24Type.value.xml` customizes the `value` property of the `org.jvnet.jaxb2

[2016-03-22 14:19] fbonic opened #25 "Provider org.jvnet.jaxb2_commons.plugin.tostring.ToStringPlugin could not be instantiated"
I have downloaded the project jaxb2-annotate-plugin and I try to execute the "generate-source" task but I have the following error:

[code]

Here is the content of lib directory:
- activation-10.3.jar
- annox-0.5.1.jar
- commons-beanutils-1.8.3.jar
- commons-lang3-3.1.jar
- commons-logging-1.3.jar
- hibernate-search-3.4.0.Final.jar
- javaparser-1.0.10.jar
- jaxb-api-2.2.jar
- jaxb-impl-2.2.6.jar
-

[2016-03-22 14:57] highsource commented on #25
Where did you get this version? Version 0.6.0 is pretty old for jaxb2-basics, current is 0.11.0.

[2016-03-22 15:15] fbonic commented on #25
I have taken the first result on http://mvnrepository.com without look if there was a newer version.
With the jaxb2-basics-0.11.0.jar the result is the same :(

[2016-03-22 15:24] highsource commented on #25
I wonder how you get the sample project. It is not distributed at the moment. `project-build.xml` and `project-pom.xml` are not intended to be executed, they are used when building sample.

So first you have to `mvn clean install -Pall`, then you'll get a couple of ZIP files generated under `samples/annotat/target/`. There's one for Ant and one for Maven. Unzip and then you can run `ant` or `mvn c

[2016-03-23 10:29] fbonic commented on #25
I have found the sample project in a comment on stackOverflow (http://stackoverflow.com/questions/33525642/how-to-use-jaxb2-annotate-plugin-with-xjc-in-command-line).

When I run mvn clean install -Pall, it fails :

[ERROR] Failed to execute goal on project jaxb2-basics-annotate: Could not resolve dependencies for project org.jvnet.jaxb2_commons:jaxb2-basics-annotate:jar:1.0.3-SNAPSHOT: Failure to

[2016-05-31 08:00] MiErnst opened #26 "Support to remove annotations"
Hi,
I would like to work with the XmlValue annotation as suggested by [6.2.7.4 Mapping a Class to Simple Content or Simple Type: XmlValue](https://jaxb.java.net/tutorial/section_6_2_7_4-Mapping-a-Class-to-Simple-Content-or-Simple-Type-XmlValue.html). As just adding the annotation is not possible as `XmlElement` and `XmlValue` are mutually exclusive. A support to remove annotations would be nice si

[2016-05-31 08:09] highsource commented on #26
Would be a good feature. Open for PRs. :)

[2016-06-02 13:49] ulaBLUE commented on #20
Hi Lexi,
The JIRA seems to be resolved. But I still face the error when the annotated classes in the project source directory are not considered.
						`<plugin>
							<groupId>org.jvnet.jaxb2_commons</groupId>
							<artifactId>jaxb2-basics</artifactId>
							<version>0.11.0</version>
						</plugin>`

						`<plugin>

							<groupId>org.jvnet.jaxb2_commons</groupId>
							<artifactId>jaxb2-

[2016-06-02 14:00] highsource commented on #20
Resolved als "duplicate" of this issue. :)

[2016-06-02 14:04] ulaBLUE commented on #20
ah ok. Is it planned for next versions ? Because it is practical to include the custom annotated classes (other than libraries) to the JAXB models

[2016-06-02 14:09] highsource commented on #20
I understand. This should be actually `maven-jaxb2-plugin` issue since JAXB plugin can do nothing about classpaths. It just uses what's given. And it's `maven-jaxb2-plugin` which provides the classpath to JAXB plugins. Should be something like `useDependenciesAsPluginClasspath`.

Planned... Well, let's say it's not *less* planned than anything else. :)

[2016-06-27 15:47] red-hood opened #27 "Missing classes from jaxb-core"
Hi,

it seems there are some dependencies from jaxb-core missing, maven prints the following during compilation:

[code]

According to the repository at git://java.net/jaxb~v2, theses classes can be found in the jaxb-core module for release 2.2.11. Adding this module as a dependency in the pom solves the compilation error for me.

[2016-06-27 16:13] #27 closed

[2016-06-29 12:39] cHullaert opened #30 "How can I add annotation in xjc path?"
I want to annotate class with spring annotation.

[2016-06-29 12:49] highsource commented on #30
See [Ant](https://github.com/highsource/jaxb2-annotate-plugin/blob/master/samples/annotate/project-build.xml) or [Maven](https://github.com/highsource/jaxb2-annotate-plugin/blob/master/samples/annotate/project-pom.xml) samples or use [`xjc -classpath`](https://jaxb.java.net/2.2.4/docs/xjc.html).

[2016-06-29 13:06] cHullaert commented on #30
You saved my day.
Some heroes don't have a cloak, He's called "highsource"

thx ^^

[2016-06-29 13:06] #30 closed

[2016-06-29 13:06] highsource commented on #30
No problem. Have a nice day. :)

[2016-09-15 14:05] dmak opened #31 "annox:annotate + annox:class does not work for class annotation"
Perhaps I missed something, but I found out that `<annox:annotate annox:class ...>` does not annotate the class, while the equivalent `<annox:annotate>@...` works just fine. Here is the test example:

[code]

Expected that `org.foo.bar.Unit` is correctly annotated with `@XmlRootElement` in either case.

[2016-10-03 14:12] ulaBLUE opened #32 "annox:annotateClass works only when jaxb:class is provided."
Hi,
I'm using `annox:annotateClass` feature using `jaxb2-basics-annotate` configured in the `maven-jaxb22-plugin`.  I see that class is not annotated as specified by the bindings unless I also specify `jxb:class' name for it.

Is that supposed to work like that. As soon as I remove the `jxb:class` the classes are not annotated.

[code]

[2016-10-03 14:16] highsource commented on #32
If you omit 'jaxb:class`, is the class for `data` generated at all?

JAXB does not always generate classes for top-level elements. `jaxb:class` forces this. So I guess if you omit 'jaxb:class', JAXB just does not generate the class for `data` so there's nothing to annotate.

If this is not the case, please provide the minimal reproducing example.

[2016-10-03 14:25] ulaBLUE commented on #32
Thanks for the reponse. The classes are generated normally without the `jaxb:class`. Infact I wouldn't need it until I tried to `annox:annotateClass`. where to upload the example ?

[2016-10-03 14:27] highsource commented on #32
Please send me a PR unter https://github.com/highsource/jaxb2-annotate-plugin/tree/master/tests/issue32

[2016-10-03 14:44] ulaBLUE commented on #32
Interestingly , this works!
which means if the xpath resolves to complex types @XmlType then it is annotated properly, where as if xpath resolves to an element, it expects jaxb:class.

I shall close this issue but can we interpret something from above findings ?

[code]

[2016-10-03 14:44] #32 closed

[2016-10-03 14:49] highsource commented on #32
I think this works as designed.

[2016-10-03 15:06] highsource opened #33 "POC substitutionGroup fix plugin"

[2016-10-03 15:06] #33 closed

[2016-10-10 09:52] christianbalzer opened #34 "schemaLocation for http://annox.dev.java.net"
Hi,

Is there a schema location that can be used for the annox namespace, xmlns:annox="http://annox.dev.java.net" ?

[2016-10-10 10:01] highsource commented on #34
No, there's no schema at the moment.

[2016-11-22 21:01] rmundkowsky opened #35 "documentation does not work"
Hi, just spent a lot of time trying to get your plugin to work.  Seems main issues are it is very important to set the version of your plugin used and the versions of the dependencies used.  If I do not do this and just follow your Readme.md file then what seems to happen is an older version of your plugin is used.  The older version does not complain about the new syntax, so the Java classes get

[2016-11-22 22:14] highsource commented on #35
I am sorry to hear that. It is actually OK to ask for help earlier - either as issues here on GitHub or questions on Stackoverflow.

I consider this to be self-evident. If you don't set the versions  in your Maven build, the build will fail. I am not sure how an "old" versions could be magically auto-configured.

The old version assumed XML syntax only, there was no special error handling for text

[2016-11-23 00:05] rmundkowsky commented on #35
Thanks for responding. I did not know you would be so responsive and I don't understand Maven and plugins well, so did not want to bother you with my maybe trivial issues.

Seems I am wrong about the behavior.  If I use your Maven code and Maven 3.3.9/Java 1.8, then project compiles and no java code is generated; I guess the plugin is not activated/called.  If I add an "execution" section to pom.x

[2016-11-23 07:22] highsource commented on #35
Yes, a couple of hints on versions won't hurt.

[2016-12-29 09:15] fredlockheed opened #36 "Parse single values as array"
See: `@com.fasterxml.jackson.annotation.JsonView(baseModel.Views.Internal.class)`. `baseModel.Views.Internal.class` should be parsed as array of classes.

[2017-01-13 19:43] diegonc opened #37 "Primitive types are not handled correctly"
Hello

I'm trying to attach some `XmlJavaTypeAdapter` annotations to the package-info file using the following bindings (external):

[code]

However, it's failing with the message `Error parsing annotation. double is a primitive`.
I've traced the exception to the following method in `AnnotatingSingleValueVisitor`.

[code]

The problem seems to be the `ref` method because as it says in the JavaDocs

[2017-01-13 20:07] diegonc commented on #37
Oh, it seems that is not enough 😞 While the exception goes away, JAnnotationUse will box the primitive:

[code]

There doesn't seem to be an easy way out, too many private and package scoped methods.

[2017-01-13 20:18] diegonc commented on #37
Ok, I was looking at the wrong types! Here's an implementation of the visit method that supports primitive types (and works just as before for everything else)

[code]

With this changes the annotations for the bindings I posted before are being generated correctly.
If you want, I can work on putting all this in a proper pull request.

[2017-01-14 12:14] highsource commented on #37
Indeed.

Would you like to make a pull request for this? Code change is fine, we'd just need a few tests.

[2017-01-14 14:39] diegonc commented on #37
Sure, let me setup a fork

[2017-01-14 17:00] diegonc commented on #37
Is that the correct way to do the tests? i.e. in plugins/src/test/java...? I don't seem to be able to run it

[2017-01-15 21:05] #37 closed

[2017-01-15 21:05] highsource commented on #37
Must be fixed now, please check if this works for you.

[2017-01-16 13:05] diegonc commented on #37
Yes, it works. Thanks!

[2017-03-21 17:53] bgedik commented on #26
This would help me a lot as well.

[2017-03-29 13:05] welterw8 opened #38 "Unknown lifecycle phase "annotate""
[FileProcessor.zip](https://github.com/highsource/jaxb2-annotate-plugin/files/879088/FileProcessor.zip)

hi i've attached my entire (and failing) Maven simple project.

I believe I have followed the instructions in the README.md on:-
https://github.com/highsource/jaxb2-annotate-plugin

and in this file...
	main/resources/import.xsd
.... I've intended to generate @java.lang.Deprecated somewhere by

[2017-03-30 06:34] highsource commented on #38
See https://github.com/highsource/jaxb2-annotate-plugin#using-jaxb2-annotate-plugin-with-maven

In your pom you have `annotate` arg, not `-Xannotate`. And don't do `mvn clean install -Xannotate`, it's just ´mvn clean install`.

[2017-03-30 11:17] rickilambert commented on #38
Hi there

even with the -Xannotate i get no failure - for example (just taking a cut of my attempt using the project posted)

[code]
You would expect this to fail the mvn clean install? Even if i provide a valid @java.lang.SuppressWarnings({"unchecked","rawtypes"}) i get no error at all and no annotation added.
Any ideas?
Thanks

[2017-03-30 11:29] highsource commented on #38
Invalid annotation should probably fail.
Please PR your test project under https://github.com/highsource/jaxb2-annotate-plugin-support/f/fileprocessor, I'll take a look.

[2017-03-30 11:35] rickilambert commented on #38
Hi

Sorry, i do not understand your instructions so i have posted it as a zip - i hope that is ok

[FileProcessor.zip](https://github.com/highsource/jaxb2-annotate-plugin/files/881961/FileProcessor.zip)

[2017-03-30 11:56] highsource commented on #38
https://help.github.com/articles/creating-a-pull-request/

[2017-03-30 15:15] rickilambert commented on #38
embarrassingly I am struggling with this - seems to be taking me longer to figure out how to use git than it would be to debug the plugin i think!  is there any easier alternative for me to provide this solution that i have?

thanks for your time

[2017-03-30 19:25] highsource commented on #38
Well, it is really worth to learn pull requests, it is one of the most important ways to collaborate in OS projects.
Anyway, I've committed your project:
https://github.com/highsource/jaxb2-annotate-plugin-support/tree/master/f/FileProcessor

[2017-03-30 19:38] #38 closed

[2017-03-30 19:38] highsource commented on #38
* Why do you have both `jaxb2-maven-plugin` and `maven-jaxb2-plugin`? I've commented `jaxb2-maven-plugin` out.
* `maven-jaxb2-plugin` actually was not enabled, you need to add an execution.
* After I've enabled it I've found out thet your `pom.xml` was not correct: `version` missing for `jaxb2-annotate-plugin`. Also `FileProcessor` artifact is not available.
* After I've added version and removed

[2017-03-30 19:38] highsource commented on #38
Here's a commit with all the changes:

https://github.com/highsource/jaxb2-annotate-plugin-support/commit/8ab355beff189751f3aa9071941ddb8f5359787c

[2017-07-01 14:43] #11 closed

[2017-07-01 14:52] #36 closed

[2017-07-28 17:20] andreas-wolf opened #39 "Annotate JAX-WS Interface"
How can I annotate a JAX-WS Interface?
I've seen the test case https://github.com/highsource/jaxb2-annotate-plugin/tree/master/tests/jaxws

Actually I want an annotation on the interface. In the wsdl that is

resulting in code like

[code]

I use a bindings file and I have no idea what to put in the binding. I've tried

[code]

which did not work.

What do I do wrong?

[2017-08-03 07:26] cleankod opened #40 "Is it possible to annotate all classes generated by ANT XJC task, using bindings file?"
All examples for using the bindings file show, that to annotate a type I have to target it explicitly:
[code]
The problem, however, is that I have thousands of this classes generated (I know...) and annotating them this way is not only tedious but also impossible to force other devs to do so. Every time I try to create a `<jaxb:globalBindings>` I get the error saying that the `annox` declaration i

[2017-08-03 07:34] cleankod commented on #40
Got it:
[code]

[2017-08-03 07:34] #40 closed

[2017-08-23 08:37] dhanuap2011 opened #41 "<annox:annotate> not generating annotations"
Hi,
I want to annotate a generated jaxb class with annotation @XMLSeeAlso.
Project is getting built successfully, however no annotation is actually added in the generated class.
Please find attached binding file, XSD file and POM.
XSD is very simple with just 1 complex type.
[jaxb.zip](https://github.com/highsource/jaxb2-annotate-plugin/files/1244712/jaxb.zip)
Please assist.

BTW my maven version

[2017-08-23 08:48] highsource commented on #41
Start by moving to a more recent version. 0.6.4 which you use is very old.

Next, you use jaxb2-maven-plugin so you should ask there how to activate an XJC plugin. My instructions are based on maven-jaxb2-plugin which is a different Maven plugin for JAXB.

[2017-08-23 09:32] dhanuap2011 commented on #41
Hi! Thanks for the reply.
I updated the versions and also switched to maven-jaxb2-plugin, but now I am getting some error.
Please find attached zip for POM, XSD, binding file and maven logs
[mvn-jaxb2.zip](https://github.com/highsource/jaxb2-annotate-plugin/files/1244880/mvn-jaxb2.zip)
Could you please assist.

[2017-08-23 09:51] highsource commented on #41
Now you're using a very old version of `maven-jaxb2-plugin` (0.9.1).

[2017-08-23 10:13] dhanuap2011 commented on #41
I switched to 0.13.2 but now I am getting error :- A required class is missing: org/jvnet/mjiip/v_2_2/XJC22Mojo.
Probably this is again old version for some artifact.
Is it possible to provide any sample POM with all dependencies with correct versions that will work with maven 3.3.9 and java 1.8.

[2017-08-23 10:47] highsource commented on #41
Releases include sample projects:

https://github.com/highsource/jaxb2-annotate-plugin/releases/tag/1.0.3

[2017-08-23 11:56] dhanuap2011 commented on #41
Strange.......I downloaded this example but I am still facing the same exception even for the given example.
I don't understand what am I missing.
Only diff is, I am using
                                           <plugin>
							<groupId>org.jvnet.jaxb2_commons</groupId>
							<artifactId>jaxb2-basics-annotate</artifactId>
							<version>1.0.2</version>
						</plugin>
I could not find 1.0.3 f

[2017-08-23 19:10] highsource commented on #41
I've just downloaded and ran `mvn clean install`. Worked fine, below is my log:
[std.txt](https://github.com/highsource/jaxb2-annotate-plugin/files/1246700/std.txt)

[2017-08-23 19:14] highsource commented on #41
I can't build your project since it has wrong directory structure (for instance configured with schema directory `src/main/xsd`, but schema is in the root of the archive) and also references parent `com.amdocs.oss.sfo.nlt:XSD` which I don't have.

[2017-08-23 19:18] highsource commented on #41
Hm, seems like version 1.0.3 was not released to the central Maven repo. How very interesting.

[2017-08-25 11:31] Martin-Wegner opened #42 "jaxb2-basics.version does not exist anymore"
Since 1.0.3:

The pom.xml contains `<jaxb2-basics.version>0.11.1-SNAPSHOT</jaxb2-basics.version>` but there is only 0.11.1 in the Maven repository. The version 0.11.1-SNAPSHOT does not exist therefore everything is broken.

For example:

![image](https://user-images.githubusercontent.com/8995517/29712350-b152e5dc-8999-11e7-90fc-da8e46e7b8ef.png)

[2017-10-02 15:09] lau-sch commented on #24
@highsource Thanks for the recent release. This issue was targeted for 1.0.3, but it is apparently still not fixed. Is a future fix viable or this suggestion above is still the only way?

[2017-10-03 16:21] highsource commented on #24
@lau-sch I've checked it again. It is fixed. See [this test project](https://github.com/highsource/jaxb2-annotate-plugin/tree/master/tests/issues).

As described above, you'll need the `customzations` plugin to attach customization to the `value` field. I know no better way at the moment.

[2017-10-03 16:24] #24 closed

[2017-10-03 16:27] #41 closed

[2017-10-03 16:28] #34 closed

[2017-10-03 16:29] #6 closed

[2017-10-09 19:07] mmoser18 opened #43 "Doesn't build anymore: Failed to execute goal org.jvnet.jax-ws-commons:jaxws-maven-plugin:2.3"
I pulled the project, but when I run Maven over it, I only get:

[code]

That's in the /jaxb2-annotate-plugin-tests-jaxws

Any advice, how to get this properly building?

[2017-10-23 13:07] boris-petrov opened #44 "Does not work with DTDs"
I've been trying to get this to work when using a DTD. As far as I understand, the "standard" binding mechanism doesn't work and one has to use `xml-java-binding-schema`. I tried the following two but they don't work:

[code]

[code]

The first one does nothing and the second one gives an error: `compiler was unable to honor this annox:annotate customization. It is attached to a wrong place, or it

[2017-10-23 13:22] highsource commented on #44
I think DTD bindings do not allow customizations.

What you could try is to use the `customizations` plugin to attach customizations to classes or properties. It's not documented, but here's a test project:

https://github.com/highsource/jaxb2-basics/tree/37049a043960fd0bb657ce6667424456057fde4d/tests/issues

It loads/attaches customizations from XML files from the specified directory:

https://gi

[2017-10-23 13:31] boris-petrov commented on #44
I see, thanks for the answer. I think this is getting way too complicated and probably I'll do a regex replace after xjc. A couple of things:

`I think DTD bindings do not allow customizations.`
One could add a `<xjc:serializable/>` under `xml-java-binding-schema` and that would make the generated classes serializable. I'm not sure that's what you mean but that is one "customization" that could be

[2017-10-23 13:34] highsource commented on #44
`xjc:serializable` is an XJC built-in customization so it is somewhat "baked into" the XJC code.
What you need for `jaxb2-annotate-plugin` are so-called "vendor extensions", basically non-JAXB and non-XJC customizations. These are handled differently so I'm not surprized DTD bindings don't allow them.

[2017-10-23 13:46] boris-petrov commented on #44
Ok, thank you very much for the answers! I'll leave you to close the issue if you decide so. It's a pity there's nothing that can be done. Thank you again!

[2017-10-23 14:06] #44 closed

[2017-10-25 09:14] Martin-Wegner commented on #43
https://github.com/highsource/jaxb2-annotate-plugin/issues/42

[2017-10-25 09:31] Martin-Wegner commented on #42
@highsource you created and released the 1.0.4 version which fixed this issue but you don't published it to the Maven central repository, why?

[2017-10-25 10:49] highsource commented on #43
Well, you have to build the whole project first.

[2017-10-25 10:49] #43 closed

[2017-10-25 10:50] highsource commented on #42
@Martin-Wegner Should be released to Maven Central now, will appear there in a few hours.

[2017-10-25 10:50] #42 closed

[2017-10-25 10:55] lujop opened #45 "Annotations on JAXWS aren't added"
You can reproduce in current test `jaxws`. The annotations defined in wsdl-bindings.xjb doesn't get added to the types under the wsdl_schema package.

[2017-10-25 11:04] highsource commented on #45
It's a known issue:

https://github.com/highsource/jaxb2-annotate-plugin/blob/master/tests/jaxws/src/main/resources/wsdl-bindings.xjb#L51

[2017-10-25 12:02] lujop commented on #45
Thanks @highsource.
I didn't read the comment.
Is there another open issue to track it? Or just track this one?
Do you know af any workarround? I need to add a @XmlRootElement annotation and I can't modify the wsdl.

[2017-11-07 12:16] teo89 opened #46 "Issue with the annox:annotate customization."
I tried to change annotation for a field with annotation @XMLElement
Maven plugin was configured as following
`<plugin>
							<groupId>org.jvnet.jaxb2.maven2</groupId>
							<artifactId>maven-jaxb2-plugin</artifactId>
							<version>${maven.jaxb2.plugin}</version>
							<executions>
								<execution>
									<goals>
										<goal>generate</goal>
									</goals>
									<configuration>

[2017-11-07 13:41] highsource commented on #46
Please post the full `bindings.xjb`.

[2017-11-07 13:50] teo89 commented on #46
I don't known, if that is an issue or not, but when I started XPath from the 'complexType' element the "annox:annotate" worked.
I have changed the
`node="//xs:element[@name='result']`

to

`node="//xs:complexType[@name='complex_Type_Element']/xs:complexContent/xs:extension[@base='base_Type_element']/xs:sequence/[@name='result']`

It was a little bit confusing that for me.

[2017-11-07 13:50] #46 closed

[2018-03-19 08:15] skittle134 commented on #16
I have a similar problem related to this issue:
[https://stackoverflow.com/questions/49299912/manipulate-jaxb-to-create-idref-elements-instead-of-jaxbelement](url)
My problem could be resolved by fixing this bug.
The project setup is the same as the original reported issue, but if new code-samples are needed, i can provide them.

[2018-03-19 08:56] highsource commented on #16
Ok, the problem is that XJC attaches this customization to the `CClassRef` (`jaxb:class`) as well as to the property.

The solution should be to simply mark the customization on `CClassRef` as acknowledged.
WIP.

[2018-03-19 09:53] highsource commented on #16
Fixed on the `issue-16` branch. Please check out, build and try out.

[2018-03-20 10:41] skittle134 commented on #16
Sorry for the Delay.
I've successfully tested your change. Now the plugin is working as desired.
Thank you very much!

[2018-05-24 06:46] kishor-p commented on #26
Could it be possible to know when or which version this can be expected?

[2018-05-24 18:23] #16 closed

[2018-05-24 20:02] highsource commented on #26
@MiErnst @bgedik @kishor-p I have implemented this. Please checkout, build and try it out before I release this.

[2018-05-24 20:05] highsource commented on #15
@ghost  I'm closing this due to no reaction.

[2018-05-24 20:05] #15 closed

[2018-05-24 20:15] bgedik commented on #26
@highsource I can give this a try tomorrow.

[2018-05-29 15:39] kevemueller commented on #26
I have just compiled SNAPSHOT and can confirm that it removes annotations as expected.

I have a side-effect, though. I would like to remove (@XmlElement) and re-apply it differently. I use
jaxb:bindings, first annox:removeAnnotation, then annox:annotate. Unfortunately the annox:annotate does not seem to make it, the result is a removed annotation.

[2018-06-05 18:29] highsource commented on #26
`jaxb:bindings`, first `annox:removeAnnotation`, then `annox:annotate`. Unfortunately the `annox:annotate` does not seem to make it, the result is a removed annotation.

You don't need to remove and annotate again. Just annotate with `@XmlElement` as you want it. Existing annotation should be overridden.

[2018-06-06 06:40] kevemueller commented on #26
Perfect. The plugin just works fine.
Will you release it soon? Currently this feature is in SNAPSHOT only.

[2018-06-06 06:57] highsource commented on #26
@kevemueller Yes, I'm working on a release right now. It's not quite trivial as it requires moving to JAXB 2.3.0 and Java 9.

[2018-06-06 08:13] #26 closed

[2018-06-06 08:21] highsource commented on #26
https://github.com/highsource/jaxb2-annotate-plugin/releases/tag/1.1.0

[2018-06-06 13:00] highsource commented on #1
Both `annotate:annotate` with `target="package"` and `annotate:annotatePackage` work.

[2018-06-06 13:00] #1 closed

[2018-06-06 13:03] highsource commented on #25
I'm closing this as it is most probably obsolete and addressed in a wrong project anyway.

If the issue still persists, please open a new issue in JAXB2 Basics.

[2018-06-06 13:03] #25 closed

[2018-06-07 11:00] krishnanunnijs commented on #26
@highsource  That saved my day.. AWESOME :) Cheers !

[2018-06-09 07:16] MiErnst commented on #26
Thanks for fixing. 👍

[2018-07-26 06:57] GunoH opened #48 "Annotate xsd:any element"
Hi there,

I'm trying to add an annotation to an `xsd:any` element (which is translated in to `java.util.List<Object>` in Java), but so far I've been unsuccessful; keep getting the error message _"compiler was unable to honor this annotate customization. It is attached to a wrong place, or its inconsistent with other bindings."_

So what I want is to add an extra annotation to the _content_ field

[2018-07-26 07:04] highsource commented on #48
Yes, this is possible but not quite straightforward.

Please create a reproducing project here: https://github.com/highsource/jaxb2-annotate-plugin-support as `a/any`. I will take care of the customizations.

[2018-07-26 08:49] #48 closed

[2018-07-26 08:55] highsource commented on #48
Please see the commits.

In some cases XJC doe snot correctly associate customizations with target elemenents. Don't ask me why. :)

For these cases I've developed a "customizations plugin" which reads XML from specified directory and associates them with corresponding elements. So `generated/List.context.xml` will be associated with the `content` property of the `generated.List` class.

[2018-07-26 09:34] GunoH commented on #48
Thanks!

Should this also work with the _jaxws-maven-plugin_, with `xjcArg` instead of `arg`?

[2018-07-26 10:34] highsource commented on #48
Theoretically jaxb2-annotate-plugin is not dependend on the Maven plugin you use. Practically I get any XJC plugin to run with jaxws-maven-plugin under Java 9+, last time I tried.

[2018-07-28 12:06] GunoH commented on #48
Got it to add the annotation now with _jaxws-maven-plugin_ as well, thanks!

There's still an issue though when adding the `XmlAnyElement` annotation; it adds it to the `getContent` method, while there already is such an annotation present at the `content` field itself:

[code]
[code]

This of course gives trouble when using the generated class at runtime:

[code]

What I would like is somehow rep

[2018-07-28 13:10] highsource commented on #48
You can use `target` attribute to specify where to place the annotation.

[code]

https://github.com/highsource/jaxb2-annotate-plugin-support/commit/ccc172949111d6d242b6ce0036e1f1f334672270

[2018-07-28 14:33] GunoH commented on #48
Exactly what I needed. Great!

[2018-09-11 18:21] andrey-nakin opened #49 "Unsupported binding namespace "http://annox.dev.java.net""
I'm using `jaxb2-basics-annotate` with `maven-jaxb2-plugin`. I also use `jaxb-xew-plugin` plugin.

When attempting to run `xjc` following error is displayed:

<pre>
org.xml.sax.SAXParseException; systemId: file:/home/user/myproject/myschema.xsd; lineNumber: 22; columnNumber: 2; Unsupported binding namespace "http://annox.dev.java.net". Perhaps you meant "http://github.com/jaxb-xew-plugin"?
	at com

[2018-09-11 18:26] andrey-nakin commented on #49
My `pom.xml` (fragment):

<pre>
            <plugin>
                <groupId>org.jvnet.jaxb2.maven2</groupId>
                <artifactId>maven-jaxb2-plugin</artifactId>
                <version>0.13.3</version>
                <executions>
                    <execution>
                        <id>myschema</id>
                        <goals>
                            <goal>generate</goal>

[2018-09-11 18:49] highsource commented on #49
I can't spot any problems directly.

Please provide a reproducing test project as PR in https://github.com/highsource/jaxb2-annotate-plugin-support, under, say, `a/an`.

[2018-09-12 15:27] andrey-nakin commented on #49
@highsource Posted a pull request with an example.

[2018-09-12 17:46] highsource commented on #49
Ok, thanks.

I see the reason. You include bindings directly in schemas but also use an episode file to avoid compiling classes. Still, XJC detects customizations and complains that they are not acknowledged.

I'll see what I can do but not quite soon.

As a workaround, move bindings to a separate bindings file and *do not* include bindings for your base schema in your dependent compilation.

[2018-09-15 07:48] fuschl opened #50 "jaxb:bindings: Included XSDs"
How can I refer to complex types from the jaxb bindings.xjb if they are defined in a XSD which is included by the root XSD?

[2018-12-06 13:12] ashokkhetan commented on #17
The following link doesn't work anymore:
https://github.com/highsource/jaxb2-annotate-plugin/tree/master/tests/jaxws

Could you please point out the correct link or details about how to integrate jaxb2 annotate plugin with jaxws maven plugin?

[2018-12-06 13:21] ashokkhetan commented on #31
It's a very old question, but in case it helps someone else.

Try using:
`<annox:annotate>
      <annox:annotate annox:class="javax.xml.bind.annotation.XmlRootElement" name="unit"/>
</annox:annotate>`

[2018-12-06 14:16] highsource commented on #17
@ashokkhetan It does not work. I could not get `jaxws-maven-plugin` to run with XJC plugin under JDK 9+.

https://github.com/mojohaus/jaxws-maven-plugin/issues/54#issuecomment-397565960

[2018-12-06 16:20] highsource commented on #17
Please ask authors of your target `jaxws-maven-plugin` how to enable an XJC plugin with their tool. `jaxb2-annotate-plugin` is just an XJC plugin. I'm sorry I can't consult on all possible XJC plugin integrations.

[2018-12-07 16:24] ashokkhetan opened #51 "Incorrect handling of mixed="true" in schema"
If a schema type having **mixed="true"** is annotated with a custom **@XmlType** name, the plugin adds an extra @XmlType annotation at method level too. Is there already a fix for this issue? I am using the old xml syntax in the binding file.

I have attached the sample project here, please refer to ''\annox_sample\target\generated-sources\xjc\generated\LocalType.java', line 54 having the followin

[2018-12-09 13:33] highsource commented on #51
Can't reproduce the first problem. Tried the following annotations:

1:

[code]

2:

[code]

Both work an only annotate the class with `@XmlType`.

The following two customization predictably don't work:

3:

[code]

4:

[code]

The problem is that XJC attaches customization elements to both the class and the property for mixed complex types.
So you have to specify the target in this case.

[2018-12-09 13:36] highsource commented on #51
As for the second problem I could also not reproduce this. You `pom.xml` for some reason included the `com.google.code.javaparser:javaparser:1.0.10` dependency. When I comment it out, it works. Not sure why you put the dependency there in first place, but it broke things.

[2018-12-09 13:44] highsource commented on #51
I've added a test case to demonstrate that it's working. This is the actual code produced:

[code]

[2018-12-09 13:45] #51 closed

[2018-12-09 14:42] ashokkhetan opened #52 "Java style syntax (annotateClass) in binding file does not work"
I am trying to use the following in my binding file:

`<jaxb:bindings schemaLocation="schema.xsd">
<jaxb:bindings node="//xs:complexType[@name='Local_Type']">
				<annox:annotateClass>@javax.xml.bind.annotation.XmlType(name="Local_Type_New")</annox:annotateClass>`

If I don't add the javaparser dependency in the pom file, it gives the following error:

` Failed to execute goal org.jvnet.jaxb2.mave

[2018-12-09 14:53] ashokkhetan commented on #51
Thanks very much to look into this. I have raised a separate issue #52 for the 'annox:annotateClass' issue.

Regarding the mixed complex types issue, following works good too:

`<annox:annotate target="class">
<annox:annotate annox:class="javax.xml.bind.annotation.XmlType" name="Local_Type_New"/>
</annox:annotate>`

However, I would prefer to use the java syntax for mixed complex types (or, in gen

[2018-12-09 14:57] highsource commented on #51
As I wrote, Java syntax works as well:

[code]

This is what I have as a test case in `tests/issues` project now.

[2018-12-09 15:06] highsource commented on #52
Can't reproduce this.

What I do - exactly:

[code]

Results in:

STD:

[code]

ERR:

[code]

[2018-12-09 15:09] highsource commented on #52
And `LocalType` is fine as well (won't compile otherwise).

[2018-12-09 15:15] ashokkhetan commented on #52
Thanks for quick response. Seems there is something different in my local setup. I have 'jdk1.8.0_181' as JAVA_HOME. Does the annotate plugin depend upon any libraries in the jdk setup?

[2018-12-09 15:51] highsource commented on #52
Hm, strange.

I'd suggest that you clone the current state of the repo, build it locally and try `jaxb2-annotate-plugin` version `1.1.1-SNAPSHOT` then.

[2018-12-10 10:08] ashokkhetan commented on #52
It indeed worked with a fresh maven repository. I used the original setup (jaxb2-basics-annotate-1.0.2 and no JavaParser dependency). Thanks much for your help.

[2018-12-10 10:08] #52 closed

[2018-12-20 17:38] Hubbitus opened #53 "Please support dynamic content of annotations"
My intention provide bindings allowing me generate class annotations from XML annotation <element>.

For example by default class generated like:
[code]

This is generated from xsd fragment like:
[code]

I want have `Attachment document.` available at runtime, so generate class like:
[code]

That required for classes and properties.

[2019-03-18 10:18] Hubbitus commented on #53
I've wrote my [XJC-plugin|https://github.com/Hubbitus/xjc-documentation-annotation-plugin] exactly for that purpose.

[2019-03-18 10:22] highsource commented on #53
This is the right approach. :)

[2019-03-18 10:22] #53 closed

[2019-04-29 14:24] wrestang opened #54 "Unable to run annotate and remove annotate simultaneously"
I am using the plugin with wsdl2java because I have wsdls I need to convert to java.  I've been able to successfully use either the annotate plugin or the remove annotation plugin, but not both at the same time; I have to comment out the extra arg and it's corresponding binding file.  When I try to run both I get the following:

Those numbers might be off for this as I'm obfuscating the exact name

[2019-04-30 13:56] wrestang commented on #54
I've found another plugin that will alter the auto-generated package-info file (I'd use this one if I knew how to change that file) to add namespaces to it.  I'm seeing issues when trying to run both of those plugins too, so I'm starting to think either it's a configuration issue and/or some limitation when running within the wsdl2java realm which under the covers uses xjc... something is differen

[2019-04-30 14:20] wrestang commented on #54
OK... so after all this... I feel like a downright idiot and kinda wish I could scrub all of this...

It was a configuration issue... The xjc options need to be bunched together in a comma separated list and I just completely missed that... so solution:

'<extraargs>-xjc-Xannotate,-xjc-XremoveAnnotation</extraargs> '

[2019-04-30 14:20] #54 closed

[2019-05-10 07:41] hamza-zag commented on #31
this work fro me:
  <jaxb:bindings node=".//xs:complexType[@name='element']">
            <annox:annotateClass>@javax.xml.bind.annotation.XmlRootElement(name="ClassName")</annox:annotateClass>
        </jaxb:bindings>

[2019-06-21 19:46] stodge commented on #49
Any updates on this? I'm having the same problem.

[2019-06-21 21:09] stodge commented on #49
Any update on this? I have the same problem. Thanks.

[2019-08-29 09:58] knutwannheden opened #57 "Allow processing with-methods"
XJC also generates `with`-methods for a given generated `set`-method.

I don't understand why XJC doesn't add Javadoc to the `with`-methods. I think it would be nice if this plugin could allow annotating and adding Javadoc to these `with`-methods. I think it would also be nice with a boolean flag which would allow "copying" everything from the corresponding `set`-method.

[2019-08-29 10:19] knutwannheden commented on #57
I think the `with` methods are probably generated by the fluent-api extension...

[2020-06-02 11:15] dileepg2k opened #58 "@com.fasterxml.jackson.annotation.JsonTypeInfo in xjb file not adding annotations to jaxb classes."
@com.fasterxml.jackson.annotation.JsonTypeInfo in xjb file not adding annotations to jaxb classes though build is success. Please let me know how to add this annotation to jaxb classes trough binding.

		<jaxb:bindings node="//xs:element[@name='Class']">
				<annox:annotate target="field">
					@com.fasterxml.jackson.annotation.JsonTypeInfo(property = "class")
				</annox:annotate>

[2020-06-02 11:20] clemi2408 opened #59 "Swagger annotations"
https://github.com/victools/jsonschema-generator/wiki#41-features
the page states:

but properties are annotated like this:
`@ApiModelProperty(notes = "Email of the user", name = "email", value = "john@doe.com")`

notes element of the annotation holds a description,
and value an example for the range of that property.

the current implementation creates out of:
`@ApiModelProperty(notes = "Email of

[2020-06-20 00:47] wltjr commented on #49
I also experience this issue with straight xjc and ehcache
[code]

[code]

Adding jaxb2-annotate-plugin to classpath makes no difference. I may need annox instead of jaxb2-annotate-plugin. Unless this is an upstream xjc issue. Thanks!

[2020-07-06 14:43] cljsmid opened #60 "http://annox.dev.java.net offline"
Can you share the file offline or make it available somewhere else please?

[2020-07-07 09:07] cljsmid commented on #60
Fixed it ourselfs. For reference using gradle and xjcGenerate:
Add dependency:
xjcClasspath "org.jvnet.jaxb2_commons:jaxb2-basics-annotate:1.1.0"

and
xjcGenerate {
    extraArgs = ["-Xannotate"]
    extension = true
    bindingFiles = files('YOUR LOCATION')
    source = fileTree('PATH TO SCHEMA')
}

[2020-08-16 22:27] bcluap opened #61 "Remove all annotations of a certain type"
Is it possible to use this plugin to remove all annotations of a certain type off all the generated classes. E.g. I want to ensure the generated source does not include @XmlSchemaType on any fields but don't want to have to do this on each and every field
I tried this:

<jaxb:bindings schemaLocation="service.xsd" node="/xs:schema">
        <jaxb:bindings node="//xs:element">
            <annox:rem

[2020-11-17 14:08] rosko01 commented on #9
@highsource Any chance that this issue could be resolved in the future?

[2021-01-14 07:55] lion7 opened #64 "Link to highsource.org redirects to scam website"
In the README there is a link to the Old XML syntax referring to http://confluence.highsource.org/display/J2B/Annotate+Plugin.
Currently this link (and any other link to highsource.org) redirects me to random scam websites. Looks like the webserver is compromised 😢

[2021-02-11 12:08] MDesharnaisX opened #66 "Add annotation to simpleContent (with extension)"
Hi,
I have an issue that requires me to add the @XmlValueExtension annotation to an object attribute that is generated by a Simple content extending double.
I can't find how to bind this in my xjb file.
My XSD looks like :
`<xs:complexType name="level1">
        <xs:sequence>
            <xs:element name="level2" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>

[2021-05-24 10:23] manstis opened #68 "Add annotations to xs:element"
Similarly to https://github.com/highsource/jaxb2-annotate-plugin/issues/66 I find I am unable to add (or remove, I assume) annotations to `xsd:element` items within a schema; as shown below, with the latest SNAPSHOTs of both `org.jvnet.jaxb2.maven2:maven-jaxb2-plugin:0.14.1-SNAPSHOT` and `org.jvnet.jaxb2_commons:jaxb2-basics-annotate:1.1.1-SNAPSHOT` built locally.

**_Schema_**
[code]
**_Bindings_

[2021-05-24 10:44] manstis commented on #68
... and no sooner had I created this issue, I did a little more debugging:

Sun's XJC is not reporting an "customisations" for the outer "simple element" which are used to drive the annotation plugin.

However it does report "customisations" for the inner "complex type".

So, changing my binding to the following fixed my problem:
[code]

[2021-05-24 10:44] #68 closed

[2022-06-22 10:45] perlun commented on #64
For the reference, this still seems to be an issue. :grimacing:

[2022-06-22 19:26] lion7 commented on #64
Just wanted to point out that the author of this plugin (and the Maven JAXB plugin) has deceased in January 2021.
See http://good-bye.org/alexey-valikov/ for the remembrance page.

My assumption is that the domain expired after a while and some evil person claimed the domain to serve the thrash that's now there.. Just a shame really.

[2022-06-22 19:27] lion7 commented on #64
Keeping this open so it will stay in the top of the issue list.

[2022-06-23 12:18] perlun commented on #64
@lion7 Thanks for letting me (and others) know. Really sorry to hear that. :cry:

Yes, let's keep the issue open so that it's easier for people to find. :+1:

[2022-07-06 11:28] Moortu opened #69 "Package names in bindings files are ignored"
[code]

a.xsd :
[code]

b.xsd :
[code]

common.xsd :
[code]

common_a.xjb:
[code]

common_b.xjb:
[code]

[code]

This will produce the following folder structure with corresponding packagenames
[code]

------------------------------------------------------------------------------------------------------
Without org.jvnet.jaxb2_commons:jaxb2-basics-annotate
and the jxb:annotate bindings in the comm